body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    font-family: "Cabin Sketch";
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.gridRow {
    width: 100%;
    height: 100%;
    display: flex;
}
.gridCol {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}


#gridContainer {
    display: flex;
    flex-direction: column;
}



